exclude *.pyc .DS_Store .gitignore MANIFEST.in

include requirements.in
include setup.py
include README.md
include LICENSE

recursive-include bin *
recursive-include builder/data *
recursive-include pwnagotchi *.py
recursive-include pwnagotchi *.yml
recursive-include pwnagotchi *.*
